* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: rgb(242, 206, 218, 0.3);
}

body.no-scroll {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #151717;
}

.wrapper {
	max-width: 1120px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 108%;
	letter-spacing: 0.04em;
	color: #151717;
}

.btn {
	font-family: "Hind Madurai", sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #FAFAFA;
	border-radius: 5px;
	padding: 15px 50px;
	text-align: center;
	background-color: #D23166;
	border-color: transparent;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
	background-color: #902549;
	opacity: 1;
}

.header__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 15px auto;
}

.header__button {
	margin: 0 0 0 125px;
}

.header__list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	gap: 40px;
}

.header__link {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	transition: transform 0.2s ease, opacity 0.2s ease, color 0.2s ease;
	color: #150101;
	opacity: 0.6;
}

.header__link:hover {
	font-weight: 700;
	transform: scale(1.2);
	color: #D23166;
	opacity: 1;
}

.open {
	display: flex !important;
}

.header__burger {
	display: none;
	position: relative;
	z-index: 50;
	align-items: center;
	justify-content: flex-end;
	width: 30px;
	height: 18px;
}

.header__burger span {
	height: 3px;
	width: 80%;
	transform: scale(1);
	background-color: #000000;
}

.header__burger::before, .header__burger::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #000000;
	transition: all 0.3s ease 0s;
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}

.header__burger.active span {
	transform: scale(0);
}

.header__burger.active::before {
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(45deg);
}

.header__burger.active::after {
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(-45deg);
}

.hero__wrapper {
	position: relative;
	padding: 0 0 235px 0;
}

.hero__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 200px 0 0 0;
}

.hero__pretext {
	width: 175px;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #0f0101;
	margin: 0 0 5px 0;
}

.hero__title {
	font-family: 'Fredoka', sans-serif;
	width: 665px;
	height: 130px;
	font-weight: 700;
	font-size: 57px;
	line-height: 121%;
	color: #0f0101;
	margin: 0 0 35px 0;
}

.hero__text {
	font-family: 'Hind Madurai', sans-serif;
	width: 525px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #0f0101;
	opacity: 0.6;
	margin: 0 0 65px 0;
}

.hero__img {
	position: absolute;
	top: -200px;
    left: 80%;
    transform: translateX(-50%);
    z-index: 10;
}

.delivery {
	background-color: #FFFFFF;
	padding: 100px 0;
}

.delivery__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

.delivery__item {
	border-radius: 7px;
	border: 1px solid rgba(0, 0, 0, 0.03);
	width: 250px;
	height: 200px;
	box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.03);
	background: #fff;
}

.delivery__img {
	margin: 25px 0 25px 0;
}

.delivery__title {
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #000;
	margin: 0 0 10px 0;
}

.delivery__text {
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #000;
	opacity: 0.6;
	margin: 0 25px 0 25px;
}

/* PC */
@media (max-width: 1070px) {
	.wrapper {
		max-width: 769px;
	}

	.header__button {
		margin: 0;
	}

	.hero__wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	.hero__img {
	position: static;
	top: 0;
    left: 0;
    transform: translateX(0);
    z-index: 0;
	width: auto;
	height: auto;
	}

	.hero__list {
		margin: 0;
	}

	.hero__item {
		width: auto;
		text-align: center;
		margin: 0 auto;
	}

	.hero__title,
	.hero__text {
		width: auto;
		height: auto;
	}

	.delivery__list {
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 25px;
	}
}

/* TABLET */
@media (max-width: 768px) {
	.wrapper {
		max-width: 481px;
	}

	.header__burger {
		display: flex;
	}

	.header__menu {
		display: none;
		flex-direction: column;
		position: fixed;
		height: 100%;
		/* width: 100%; */
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 50;
		overflow-y: auto;
		padding: 100px 40px;
		background-color: rgb(242, 206, 218, 1);
		animation: burgerAnimation 0.4s;
	}

	.header__list {
		flex-direction: column;
		row-gap: 40px;
	}

	.hero__title {
		font-size: 48px;
	}

	.hero__wrapper {
		padding: 0 0 150px 0;
	}
}

/* MOBILE */
@media (max-width: 480px) {
	.wrapper {
		max-width: 321px;
	}

	.hero__title {
		font-size: 36px;
	}

	.hero__text {
		font-size: 16px;
	}
}

/* MINI MOBILE */
@media (max-width: 320px) {
	.wrapper {
		max-width: auto;
	}
}

@keyframes burgerAnimation {
	from {opacity: 0;}
	to {opacity: 1;}
}